* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.slides__borders {
  width: 100%;
  overflow: hidden;
  background-color: #bba12d;
  border-radius: 1rem;
}

.slides {
  display: flex;
  width: calc((100vw - 5rem) * 5);
  transition: 500ms;
  transform: translateX(-0%);
}

.slide {
  display: flex;
  justify-content: center;
  width: 20%;
  overflow: hidden;
}

.images {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.controlers-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.text__borders {
  overflow: hidden;
  width: 60%;
  align-self: start;
  margin-top: 1rem;
}

.text__wrapper {
  display: flex;
  flex-direction: row;
  width: 500%;
  transition: 500ms;
}

.text {
  width: 20%;
  margin: 0;
}

.navigation {
  align-self: flex-start;
  display: flex;
  align-items: center;
}

.slide__radio__btn {
  display: none;
}

/* .tabs {
  position: relative;
} */

.slide__radio {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
  color: black;
  line-height: 120%;
  padding: 0.3125rem;
  cursor: pointer;
}

.slide__radio:hover {
  background-color: yellowgreen;
  border-radius: 50%;
}

.slide__radio:active {
  background-color: rgb(208, 214, 197);
}

/* .slide__radio__btn:checked + .slide__radio::after {
  transform: scale(1);
} */

.slide__radio::before {
  content: "";
  flex: 0 0 1.0625rem;
  width: 1.0625rem;
  height: 1.0625rem;
  border: 0.1rem solid #000;
  border-radius: 50%;
  background-color: #bba12d;
}

/* .slide__radio::after {
  content: "";
  -webkit-box-flex: 0;
  -ms-flex: 0 0 0.4375rem;
  flex: 0 0 0.4375rem;
  position: absolute;
  left: 0.725rem;
  width: 0.4375rem;
  height: 0.4375rem;
  background-color: black;
  border-radius: 50%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
} */

.wrapper:has(.slide-radio1:checked) .slides,
.wrapper:has(.slide-radio1:checked) .text__wrapper {
  transform: translateX(-0%);
}

.wrapper:has(.slide-radio2:checked) .slides,
.wrapper:has(.slide-radio2:checked) .text__wrapper {
  transform: translateX(-20%);
}

.wrapper:has(.slide-radio3:checked) .slides,
.wrapper:has(.slide-radio3:checked) .text__wrapper {
  transform: translateX(-40%);
}

.wrapper:has(.slide-radio4:checked) .slides,
.wrapper:has(.slide-radio4:checked) .text__wrapper {
  transform: translateX(-60%);
}

.wrapper:has(.slide-radio5:checked) .slides,
.wrapper:has(.slide-radio5:checked) .text__wrapper {
  transform: translateX(-80%);
}

.slide-radio1:checked + .slide__radio::before,
.slide-radio2:checked + .slide__radio::before,
.slide-radio3:checked + .slide__radio::before,
.slide-radio4:checked + .slide__radio::before,
.slide-radio5:checked + .slide__radio::before {
  background-color: white;
  cursor: auto;
}

@media (max-width: 1000px) {
  .controlers-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 2rem;
  }

  * {
    box-sizing: border-box;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .slides__borders {
    width: 100%;
    overflow: hidden;
    background-color: #bba12d;
    border-radius: 1rem;
  }

  .slides {
    display: flex;
    width: calc((100vw - 5rem) * 5);
    transition: 500ms;
    transform: translateX(-0%);
  }

  .slide {
    display: flex;
    justify-content: center;
    width: 20%;
    overflow: hidden;
  }

  .images {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .text__borders {
    overflow: hidden;
    width: 60%;
  }

  .text__wrapper {
    display: flex;
    flex-direction: row;
    width: 500%;
    transition: 500ms;
  }

  .text {
    width: 20%;
    margin: 0;
  }

  .navigation {
    align-self: center;
    display: flex;
  }

  .slide__radio__btn {
    display: none;
  }

  /* .tabs {
  position: relative;
} */

  .slide__radio {
    display: flex;
    align-items: center;
    column-gap: 1.25rem;
    color: black;
    line-height: 120%;
    padding: 0.3125rem;
    cursor: pointer;
  }

  .slide__radio:hover {
    background-color: yellowgreen;
    border-radius: 50%;
  }

  .slide__radio:active {
    background-color: rgb(208, 214, 197);
  }

  /* .slide__radio__btn:checked + .slide__radio::after {
  transform: scale(1);
} */

  .slide__radio::before {
    content: "";
    flex: 0 0 1.0625rem;
    width: 1.0625rem;
    height: 1.0625rem;
    border: 0.1rem solid #000;
    border-radius: 50%;
    background-color: #bba12d;
  }

  /* .slide__radio::after {
  content: "";
  -webkit-box-flex: 0;
  -ms-flex: 0 0 0.4375rem;
  flex: 0 0 0.4375rem;
  position: absolute;
  left: 0.725rem;
  width: 0.4375rem;
  height: 0.4375rem;
  background-color: black;
  border-radius: 50%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
} */

  .wrapper:has(.slide-radio1:checked) .slides,
  .wrapper:has(.slide-radio1:checked) .text__wrapper {
    transform: translateX(-0%);
  }

  .wrapper:has(.slide-radio2:checked) .slides,
  .wrapper:has(.slide-radio2:checked) .text__wrapper {
    transform: translateX(-20%);
  }

  .wrapper:has(.slide-radio3:checked) .slides,
  .wrapper:has(.slide-radio3:checked) .text__wrapper {
    transform: translateX(-40%);
  }

  .wrapper:has(.slide-radio4:checked) .slides,
  .wrapper:has(.slide-radio4:checked) .text__wrapper {
    transform: translateX(-60%);
  }

  .wrapper:has(.slide-radio5:checked) .slides,
  .wrapper:has(.slide-radio5:checked) .text__wrapper {
    transform: translateX(-80%);
  }

  .slide-radio1:checked + .slide__radio::before,
  .slide-radio2:checked + .slide__radio::before,
  .slide-radio3:checked + .slide__radio::before,
  .slide-radio4:checked + .slide__radio::before,
  .slide-radio5:checked + .slide__radio::before {
    background-color: white;
    cursor: auto;
  }
}
