* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 75rem;
  height: 45rem;
  background-color: green;
  position: relative;
  margin: 0 auto;
}

.slide__wrapper {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
}

.slider {
  width: 68.75rem;
  height: 37.5rem;
  overflow: hidden;
}

img {
  width: 68rem;
  height: 37.5rem;
  object-fit: cover;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 95%;
  transform: translateX(-95%);
  display: flex;
}

.bar {
  height: 8px;
  width: 30px;
  margin: 6px;
  cursor: pointer;
  background-color: #ddd;
  border-radius: 10px;
  opacity: 0.7;
  transition: all 0.4s ease;
}

.bar:hover {
  opacity: 1;
  transform: scale(1.1);
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 400%;
  height: 100%;
  display: flex;
}

.slide {
  width: 25%;
  transition: all 0.6s ease;
}

.slide img {
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}
#r2:checked ~ .s1 {
  margin-left: -25%;
}
#r3:checked ~ .s1 {
  margin-left: -50%;
}
#r4:checked ~ .s1 {
  margin-left: -75%;
}

.text {
  position: absolute;
  bottom: 160px;
  color: white;
  display: inline-flex;
  left: 35px;
  top: 540px;
}

.text p {
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
}

.slide-radio1:checked ~ .slide1 p,
.slide-radio2:checked ~ .slide2 p,
.slide-radio3:checked ~ .slide3 p,
.slide-radio4:checked ~ .slide4 p {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.slide-radio1:checked ~ .slide1 h4 {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
